.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;

    .SubContainer {
        height: fit-content;
        width: 600px;
        //box-shadow: 0 14px 28px rgb(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.22);
        margin: 50px 0 0 0;

        .Box1 {
            width: 230%;
            margin-left: -102%;
            height: fit-content;
            box-shadow: 0 3px 8px rgb(0, 0, 0, 0.25);
            background-color: white;
            flex-direction: column;
            margin-top: 18%;

            .data-flex {
                height: 50px;
                display: flex;
                align-items: center;
                border-bottom: 0.5px solid lightgray; 
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                margin: 5px 0 0 0;

                .UserId {
                    flex: 7;
                    @extend .flex-center;
                }

                .NIC {
                    flex: 9;
                    @extend .flex-center;
                }

                .Name {
                    flex: 15;
                    @extend .flex-center;
                }

                .Address {
                    flex: 25;
                    @extend .flex-center;
                }

                .Age {
                    flex: 5;
                    @extend .flex-center;
                }

                .Profession {
                    flex: 10;
                    @extend .flex-center;
                }

                .Email {
                    flex: 25;
                    @extend .flex-center;
                }

                .Qualification {
                    flex: 10;
                    @extend .flex-center;
                }

                .DeleteCitizen {
                    flex: 2;
                    margin: 6px 17px;
                }
            }
        }
    }

    #tableData {
        background-color: #b9d5f7;
    }

    #columnsHeaders {
        background-color: #FA7FAB;
    }
    .navHeader {
        width: 826%;
        margin-left: -253%;

        .avatar {
            margin-left: 79%;
            background-color: #FA7FAB;
        }

        .headerLabel {
            margin-left: 10%;
        }
    }

    .tableName {
        margin-top: 46% !important;
        margin-left: 106% !important;
        width: 101%;
        background-color: #3fb5a2;
    }
}