.SignUp-Container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .SignUp-SubContainer {
        width: 450px;
        border: 0.5px solid lightgray;
        border-radius: 10px;

        .Header {
            height: 12%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-family: 'Roboto';
            font-size: 25px;
            font-weight: 500;
            color: blue;
            margin-top: 17%;
            margin-bottom: -36%;
        }

        .Body {
            height: 70%;
            width: 100%;

            .form{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-top: 48%;

                .TextField{
                    width: 300px;
                    margin: 5px;
                }

                .Affiliations{
                    display: block;
                    width: 100%;
                    .AffiliationValue{
                        width: 100px;
                    }
                }
            }
        }

        .Buttons {
            height: 15%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 12%;
            margin-top: 10%;

            .Btn{
                height: 35px;
                text-transform: none;
            }
        }
    }

    .SignUp-SubContainer:hover {
        box-shadow: 0 0 5px -2px black;
    }
}

#adminLogin {
    margin-left: 75%;
    margin-top: -30%;
    margin-bottom: 16%;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}